@font-face {
    font-family: 'onePiece' ;
    src: url('../fonts/onepiecefont.ttf');
  }

body, html{
    background-color: black;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width: 70vw;
}
.card{
    padding: 5px;
    width: 160px;
}

.points{
    font-family: 'onePiece';
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.418);
}

.clicks{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}
.chooseQtd{
    font-family: 'onePiece';
    text-align: center;
    letter-spacing: 1px;
    width: 98%;
    height: 98%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    z-index: 10;
    background-color: #000000bd;
}
#qtd{
    font-size: 34px ;
}
input , label{
    cursor: pointer;

}
.send{
    font-family: 'onePiece';
    font-size: 50px ;
    border-radius: 15px;
    cursor: pointer;


}
@media (min-width:280px) and (max-width:375px) {
    .card{
       width: 100px;
    } 
    .points{
      font-size: 12px;
    }
    .cardContainer{
        width: 95vw;
    }
}
@media (min-width:375px) and (max-width:479px) {
    .card{
       width: 110px;
    } 
    .points{
      font-size: 15px;
    }
    .cardContainer{
        width: 95vw;
    }

}
@media (min-width:480px) and (max-width:765px) {
    .card{
       width: 140px;
    } 
    .points{
      font-size: 17px;
    }
    .cardContainer{
        width: 95vw;
    }
}
@media (min-width:765px) and (max-width:815px){
    .card{
       width: 150px;
    } 
    .points{
      font-size: 18px;
    }

}